{% extends "base.html" %}
{% block title %}Detizone{% endblock %}
{% block head %}
{% endblock %}
{% block body %}
    <header>
        <div class="navbar">
            <div class="logo"><a href="#">Logo</a></div>
            <ul class="links">
                <li><a href="index.html">Home</a></li>
                <li><a href="shop.html">Abous Us</a></li>
                <li><a href="contacts.html">Contacts</a></li>
            </ul>
            <a href="#" class="action_btn">Shop Now</a>
            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>

            <div class="dropdown_menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="shop.html">Abous Us</a></li>
                <li><a href="contacts.html">Contacts</a></li>
                <li><a href="#" class="action_btn">Shop Now</a></li>
            </div>
        </div>

        <script>
            const toggleBtn = document.querySelector('.toggle_btn')
            const toggleBtnIcon = document.querySelector('.toggle_btn i')
            const dropDownMenu = document.querySelector('.dropdown_menu')

            toggleBtn.onclick = function () {
                dropDownMenu.classList.toggle('open')
            }
        </script>
    </header>
{% endblock %}