{% extends "base.html" %}
{% block title %}Detizone - Products{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/products.css')}}">
{% endblock %}
{% block body %}
<div class="container">
    <h1>Products</h1>
    {% if user %}
    <p>Welcome, {{ user }}!</p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Stock</th>
                <th>Categories</th>
            </tr>
        </thead>
        <tbody>
            {% for product in lista %}
            <tr>
                <td>{{ product[3] }}</td>
                <td>{{ product[2] }}</td>
                <td>${{ product[5] }}</td>
                <td>{{ product[0] }}</td>
                <td>{{ product[1] }}</td>
                <td>{{ product[6] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Please <a href="{{ url_for('auth.login') }}">log in</a> to view the products.</p>
    {% endif %}
</div>
{% endblock %}
